/*@import './base.css';*/
:root {
  /* Color variables */
  --background-color1: rgb(217, 116, 133);
  --background-color2: lightpink;
  --background-color3: rgb(146, 42, 59);
  --form-background-color: rgb(255, 255, 255);
  --heading-color: rgb(255, 255, 255);
  --box-shadow-color: #0000007a;
  --logout-color: white;
  --logout-color-text: rgb(146, 42, 59);;
  --scrollbar-color: #888;
  --scrollbar-color-hover: #555;
  --scrollbar-color-background: #f1f1f1;
}

* {
  /* Normalize CSS */
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#app {
  margin: 0 !important;
  padding: 0;
  width: 90%;
  height: 90%;
  margin: auto !important;
}

#content {
  background: linear-gradient(60deg, var(--background-color1) 0%, var(--background-color2) 35%, var(--background-color3) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.text-center {
  text-shadow: 4px 4px 4px #1d1d1d7a;
}

.main-form {
  min-width: 450px;
  width: 25%;
  margin: auto;
  background-color: var(--form-background-color);
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 25px 25px 25px 1px var(--box-shadow-color);
  animation: slide-up-fade-in 1s ease;
}

.form-label {
  margin: 1.5rem 0 0 0;
  font-size: 1.5rem;
}

.form-control {
  width: 75% !important;
  margin: 0 auto;
}

button[class="btn btn-primary"] {
  position: relative;
  width: 75%;
  display: block;
  margin: 3rem auto 2rem auto;
  border-radius: 1.5rem;
  background: linear-gradient(90deg, var(--background-color3) 0%, var(--background-color2) 35%, var(--background-color1) 100%);
  transition: background-image 2s ease;
  z-index: 1;
  transition: box-shadow 1s;
}

button[class="btn btn-primary"]::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(90deg, var(--background-color1) 0%, var(--background-color2) 35%, var(--background-color3) 100%);
  transition: opacity 0.5s linear;
  z-index: -1;
  opacity: 0;
  border-radius: 1.5rem;
}

button[class="btn btn-primary"]:hover::before {
  opacity: 1;
  transition: opacity 0.5s linear;
  border-radius: 1.5rem;
}

@keyframes slide-up-fade-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
  .main-navigation {
    color : rgb(99, 44, 52);
}

.home-btn {
  background-color: var(--background-color1);
  color: var(--heading-color);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  animation: slide-up-fade-in 1s ease;
  transition: transform 0.5s ease;
}

.home-btn:hover {
  transform: translateY(-5px);
}

.container-flowup {
  animation: slide-up-fade-in 1s ease;
  margin-top: 4rem;
}